@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "lato", sans-serif;
}
.menu {
  gap: 15px;
}
.menu li a {
  text-transform: uppercase;
  padding: 0;
}
.active {
  background-color: transparent !important;
  color: #ff9900 !important;
}
